.heroContainer {
    margin-top: 4rem;
    background-color: rgb(217, 213, 213);
    padding: 1rem;
    border-radius: 1rem;
    max-width: 700px;
}

.heroContainer h1, h2, h4 {
    color: #000 !important;
}

.aboutme {
   display: flex; 
}

.title {
    flex: 3
}

.profImage {
    flex: 1;
    height: 257px;
    margin-left: 2rem;
}

.social-icon-list {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

.social-icon-list img {
    cursor: pointer;
}