.slider-container {
    position: relative;
    border-radius: 1rem;
    max-width: 100%;
    overflow: hidden;
  }
  
  .slider-image {
    width: 100%;
    height: auto;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    border-radius: 1rem;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  