$firstBannerWidth: 20%;

.welcome-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.first-banner {
    width: $firstBannerWidth;
    margin: 1rem 0 1rem 0;
    color: #fff;
    padding: 5px;
}

.second-banner {
    flex: 1;
    margin: 1rem 0 1rem .5rem;
}