$firstBannerWidth: 30%;

.welcome-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.first-banner {
    width: $firstBannerWidth;
}

.second-banner {
    flex: 1;
}