$cardHeight: 30hv; //20% from screen size

.card {
    border: 1px solid #aac2da;
    border-radius: 7px;
    padding: 5px 10px;
    height: 150px !important;
    display: flex;
    flex-direction: column;
}