/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(75, 75, 75, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #000;
  }

  .modal-actions {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .modal-close-btn {
    // position: absolute;
    top: 10px;
    // right: 10px;
    cursor: pointer;
    background: none;
    border: 1px solid #000;
    border-radius: 5px;
  }
  