.header {
  background-color: #ffffff;
  padding: 10px;
  color: rgb(188, 242, 255);
  border-radius: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  flex-direction: column; /* Adjust for smaller screens */
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img{
  width: 10%;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column; /* Display links in a column on small screens */
  justify-content: left;
  gap: 20px; /* Adjust spacing between links */
}

.nav-link {
  font-size: 18px;
}

.nav-link a {
  color: rgb(0, 37, 46);
  text-decoration: none;
}

.nav-link a:hover {
  color: #c97979;
}

// for larger screens use media queries
@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    justify-content: flex-start;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .nav-links {
    flex-direction: row;
  }

  .nav-link {
    margin-right: 1rem; /* Add space between links */
  }
}
