.portfolio-card {
  border: 1px solid #d3d1d1;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card-image {
  padding: 5px;
  display: flex;
  max-height: 200px;
  justify-content: center;
  overflow: hidden; /* Ensure the image does not overflow its container */
}

.card-image img {
  border-radius: 10px;
  object-fit: cover; /* Scale the image while maintaining its aspect ratio */
  width: 60%; /* Ensure the image takes up the 60% width of its container */
  height: 100%; /* Ensure the image takes up the full height of its container */
}

.card-details {
  padding: 10px;
}

.card-details h3, p {
  margin: 0;
  text-align: center;
}

.card-details h2 {
  margin: 0;
  text-align: center;
  padding-top: 2px;
  color: #d43423;
}

.card-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.card-actions button {
  background-color: #dd7923;
  color: white;
  border: none;
  height: 2rem;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}

.card-actions button:hover {
  background-color: #0056b3;
}

.card-actions h6 {
  padding-top: 14px;
  font-size: 14px;
  color: rgb(254, 105, 105);
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .card-details {
    padding: 5px;
  }

  .card-actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-actions button {
    margin-top: 10px;
  }
}
